<!-- 10개짤라서 -->

<%= form_tag evaluations_path, :method => :get do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<h1>강평 목록</h1>
<table>
  <tr>
    <th>강의명</th>
    <th>교수명</th>
    <th>학교</th>
    <th>평점</th>
    <th>내용</th>
  </tr>

  <% @evaluations.each do |e| %>
      <tr>
        <td><a href='/courses/show/<%= e.course.id %>'><%= e.course.lecture.name %></a></td>
        <td><%= e.course.professor.name %></td>
        <td><%= e.course.university.local_name %></td>
        <td><%= e.point_overall %></td>
        <td><%= e.body.html_safe %></td>
      </tr>
  <% end %>
</table>
