<!-- 10개짤라서 -->
<head>
  <style>
    /*.st6 {*/
    /*  color-fill: #e9b25b;*/
    /*}*/
  </style>
</head>

<!--강의 검색결과 -->
<div class="index_container">
  <div class="container-fluid">
    <div>

        <p class="feed_head">최신 강의평</p>
        <!--<object type="image/svg+xml" data="/assets/lion_1.svg" id="lion"></object>-->

        <% @evaluations.each do |e| %>
            <div class="feed_each">
              <div class="row">
                <div class="col-xs-3 col-sm-2 feed_writer feed_each_div">
                  <%= image_tag "/assets/lion_1.svg", class: "feed_lion", alt: "lion"%>
                  <p class="feed_nickname"><%= e.user.nickname %></p>
                </div>

                <div class="col-xs-9 col-sm-7 feed_each_div">
                  <p class="feed_course"><a href='/courses/show/<%= e.course.id %>'><%= e.course.lecture.name %></a></p><br>
                  <% if e.course.is_major == true %>
                    <p class="feed_prof_major"><span class="lec_cate lec_major">전공</span><%= e.course.professor.name %> 교수님</p>
                  <% else %>
                    <p class="feed_prof_kyo"><span class="lec_cate lec_kyo">교양</span><%= e.course.professor.name %> 교수님</p>
                  <% end %>
                  <div class="row">
                    <div class="m_indi col-xs-12 visible-xs-block">
                      
                      <div class="rating_div">
                        <div class="rating-head">총점</div>
                        <div class="rating">
                          <% if e.point_overall == 1 %><% p = "p1" %>
                              <% elsif e.point_overall == 2 %><% p = "p2" %>
                              <% elsif e.point_overall == 3 %><% p = "p3" %>
                              <% elsif e.point_overall == 4 %><% p = "p4" %>
                              <% elsif e.point_overall == 5 %><% p = "p5" %>
                          <% end %>
                          <select id="pillbar" class=<%= p %> name="rating" autocomplete="off">
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                            <option value="4"></option>
                            <option value="5"></option>
                          </select>
                        </div>
                      </div>
                      
                      <div class="rating_div">
                        <div class="rating-head">널널함</div>
                        <div class="rating">
                          <% if e.point_easiness == 1 %><% p = "p1" %>
                          <% elsif e.point_easiness == 2 %><% p = "p2" %>
                          <% elsif e.point_easiness == 3 %><% p = "p3" %>
                          <% elsif e.point_easiness == 4 %><% p = "p4" %>
                          <% elsif e.point_easiness == 5 %><% p = "p5" %>
                          <% end %>
                          <select id="pillbar" class=<%= p %> name="rating" autocomplete="off">
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                            <option value="4"></option>
                            <option value="5"></option>
                          </select>
                        </div>
                      </div>
    
                      <div class="rating_div">
                        <div class="rating-head">강의만족도</div>
                        <div class="rating">
                          <% if e.point_gpa_satisfaction == 1 %><% p = "p1" %>
                          <% elsif e.point_gpa_satisfaction == 2 %><% p = "p2" %>
                          <% elsif e.point_gpa_satisfaction == 3 %><% p = "p3" %>
                          <% elsif e.point_gpa_satisfaction == 4 %><% p = "p4" %>
                          <% elsif e.point_gpa_satisfaction == 5 %><% p = "p5" %>
                          <% end %>
                          <select id="pillbar" class=<%= p %> name="rating" autocomplete="off">
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                            <option value="4"></option>
                            <option value="5"></option>
                          </select>
                        </div>
                      </div>
    
                      <div class="rating_div">
                        <div class="rating-head">학점만족도</div>
                        <div class="rating">
                          <% if e.point_clarity == 1 %><% p = "p1" %>
                          <% elsif e.point_clarity == 2 %><% p = "p2" %>
                          <% elsif e.point_clarity == 3 %><% p = "p3" %>
                          <% elsif e.point_clarity == 4 %><% p = "p4" %>
                          <% elsif e.point_clarity == 5 %><% p = "p5" %>
                          <% end %>
                          <select id="pillbar" class=<%= p %> name="rating" autocomplete="off">
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                            <option value="4"></option>
                            <option value="5"></option>
                          </select>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  
                  <p class="feed_content">
                    <%= e.body.html_safe %></p>
                  <p class="feed_etc">
                    <% if (time_ago_in_words(e.created_at)) == "1분 이하" %>
                        "방금 전"
                    <% elsif (time_ago_in_words(e.created_at)).last == '일' and (time_ago_in_words(e.created_at)).chomp('일').to_i > 7 %>
                        <%= time_tag(e.created_at, :format=>'%Y년 %m월 %d일') %>
                    <% else %>
                        <%= time_ago_in_words(e.created_at) + " 전" %>
                    <% end %>
                    ·
                    <a href="#"><%= image_tag "siren.svg", alt: "lion" %></a>
                  </p>
                </div>
                <div class="hidden-xs col-sm-3">
                  <div class="rating_div">
                    <div class="rating-head">총점</div>
                    <div class="rating">
                      <% if e.point_overall == 1 %><% p = "p1" %>
                          <% elsif e.point_overall == 2 %><% p = "p2" %>
                          <% elsif e.point_overall == 3 %><% p = "p3" %>
                          <% elsif e.point_overall == 4 %><% p = "p4" %>
                          <% elsif e.point_overall == 5 %><% p = "p5" %>
                      <% end %>
                      <select id="pillbar" class=<%= p %> name="rating" autocomplete="off">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                      </select>
                    </div>
                  </div>

                  <div class="rating_div">
                    <div class="rating-head">널널함</div>
                    <div class="rating">
                      <% if e.point_easiness == 1 %><% p = "p1" %>
                      <% elsif e.point_easiness == 2 %><% p = "p2" %>
                      <% elsif e.point_easiness == 3 %><% p = "p3" %>
                      <% elsif e.point_easiness == 4 %><% p = "p4" %>
                      <% elsif e.point_easiness == 5 %><% p = "p5" %>
                      <% end %>
                      <select id="pillbar" class=<%= p %> name="rating" autocomplete="off">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                      </select>
                    </div>
                  </div>

                  <div class="rating_div">
                    <div class="rating-head">강의만족도</div>
                    <div class="rating">
                      <% if e.point_gpa_satisfaction == 1 %><% p = "p1" %>
                      <% elsif e.point_gpa_satisfaction == 2 %><% p = "p2" %>
                      <% elsif e.point_gpa_satisfaction == 3 %><% p = "p3" %>
                      <% elsif e.point_gpa_satisfaction == 4 %><% p = "p4" %>
                      <% elsif e.point_gpa_satisfaction == 5 %><% p = "p5" %>
                      <% end %>
                      <select id="pillbar" class=<%= p %> name="rating" autocomplete="off">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                      </select>
                    </div>
                  </div>

                  <div class="rating_div">
                    <div class="rating-head">학점만족도</div>
                    <div class="rating">
                      <% if e.point_clarity == 1 %><% p = "p1" %>
                      <% elsif e.point_clarity == 2 %><% p = "p2" %>
                      <% elsif e.point_clarity == 3 %><% p = "p3" %>
                      <% elsif e.point_clarity == 4 %><% p = "p4" %>
                      <% elsif e.point_clarity == 5 %><% p = "p5" %>
                      <% end %>
                      <select id="pillbar" class=<%= p %> name="rating" autocomplete="off">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="feed_hr">
        <% end %>

    </div>
  </div>
</div>

<script>

  //xs가 아닐 경우, pill-bar 100% 꽉 차도록 padding 조절
  $(document).ready(function(){
      if (window.innerWidth >= 768){
        var targetBar = $('.br-theme-bars-pill .br-widget a');
        
        var targetWidth = $('.rating-head').outerWidth()/5;
        targetBar.css('padding', '0 ' + targetWidth +'px')
       }
  });
  
  // $(window).resize(function(){     

  //     if ($('header').width() >= 768 ){

  //             // is mobile device
  //     }
  // });
  
  $('.p1').barrating('show', {
    theme: 'bars-pill',
    initialRating: '1',
    showValues: true,
    showSelectedRating: false,
    allowEmpty: true,
    readonly: true
    // emptyValue: '-- no rating selected --'
    // onSelect: function(value, text) {
    // alert('Selected rating: ' + value);
    // }
  });

  $('.p2').barrating('show', {
    theme: 'bars-pill',
    initialRating: '2',
    showValues: true,
    showSelectedRating: false,
    allowEmpty: true,
    readonly: true
    // emptyValue: '-- no rating selected --'
    // onSelect: function(value, text) {
    // alert('Selected rating: ' + value);
    // }
  });

  $('.p3').barrating('show', {
    theme: 'bars-pill',
    initialRating: '3',
    showValues: true,
    showSelectedRating: false,
    allowEmpty: true,
    readonly: true
    // emptyValue: '-- no rating selected --'
    // onSelect: function(value, text) {
    // alert('Selected rating: ' + value);
    // }
  });

  $('.p4').barrating('show', {
    theme: 'bars-pill',
    initialRating: '4',
    showValues: true,
    showSelectedRating: false,
    allowEmpty: true,
    readonly: true
    // emptyValue: '-- no rating selected --'
    // onSelect: function(value, text) {
    // alert('Selected rating: ' + value);
    // }
  });

  $('.p5').barrating('show', {
    theme: 'bars-pill',
    initialRating: '',
    showValues: true,
    showSelectedRating: false,
    allowEmpty: true,
    readonly: true
    // emptyValue: '-- no rating selected --'
    // onSelect: function(value, text) {
    // alert('Selected rating: ' + value);
    // }
  });
  
  // $(window).load(function(){
  //   alert($('.st6').innerHTML);
  // });

  
//   function prepare(){
//   var S=document.getElementById("sv")
//   var SD=S.getSVGDocument();
//   E=SD.getElementById('E');
//     }
// function change(v){
//   E.setAttribute("fill", v);
// }
</script>