<div class="main_container">
  <div class="container">
    <div class="set_full col-lg-4 col-md-4 visible-lg-block visible-md-block"></div>
    <div class="set_full col-lg-4 col-md-4 col-sm-12 col-xs-12 center_box">
      <div class="outer">
        <div class="inner">
          <div class="centered">
            <p class="logo">CLASSLION</p>
            <p class="main_msg">10개의 학교, 150000명,<br>116053개의 강의평가</p>

            <!--<input type="email" class="login_input email_input" placeholder="이메일" /><br>-->
            <!--<input type="password" class="login_input" placeholder="비밀번호" /><br>-->
            <%= form_for(:session, url: login_path) do |f| %>
            <div class="input_group login_input email_input">
              <div class="full_input input_div">
                <%= f.email_field :email, placeholder: "이메일" %><br>
              </div>
              <!--<div class="check_div">-->
              <!--<button type="button" onclick="check(mail, this)">check</button>-->
              <!--</div>-->
            </div>

            <div class="input_group login_input">
              <div class="full_input input_div">
                <%= f.password_field :password, placeholder: "비밀번호" %><br/>
              </div>
              <!--<div class="check_div">-->
              <!--<button type="button" onclick="check(mail, this)">check</button>-->
              <!--</div>-->
            </div>
            <div>
              <%= f.label :remember_me, class: "checkbox inline" do %>
                  <%= f.check_box :remember_me %>
                  <span>기억해두기</span>
              <% end %>
            </div>

            <div id="error_div"></div> <!--error msg가 삽입되는 div-->
            <!-- 로그인 에러메시지 출력 -->
            <%= render 'msg', msg: @msg %>
                <%= f.submit "로그인", class: "login_btn", id: "login_btn"%><br><!--go to index-->
            <% end %>

            <div id="more_div">
              <a href="#" class="go_about go_pw">비밀번호를 잊어버리셨나요?</a>
              <p class="main_msg">회원이 아니신가요? <%= link_to "가입하기", signup_path, class: "go_join" %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="set_full col-lg-4 col-md-4 visible-lg-block visible-md-block"></div>
  </div>
</div>