<div class="main_container">
  <div class="outer">
    <div class="inner">
      <div class="centered main_center">
        
        <p class="logo">CLASSLION</p>
          <%= form_for(@user, url: signup_path) do |f| %>
              <%= render 'shared/error_messages' %>

              <div class="input_group login_input email_input fit_div">
                <div class="join_gp">
                  <div class="input_div">
                    <%= f.email_field :email, autofocus: true, placeholder: "이메일" %>
                  </div>
                  <div class="check_div">
                    <span class="error" id="email_check"></span>
                  </div>
                </div>
              </div>
              <p class="error" id="email_error"></p>

              <div class="input_group login_input email_input fit_div">
                <div class="full_input input_div">
                  <%= f.password_field :password, autocomplete: "off", placeholder: "비밀번호(8자~32자)", maxlength: 32%>
                </div>
              </div>

              <div class="input_group login_input fit_div">
                <div class="join_gp">
                  <div class="input_div">
                    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "비밀번호 확인(8~32자)",  maxlength: 32 %>
                  </div>
                  <div class="check_div">
                    <span class="error" id="password_confirmation_error"></span>
                  </div>
                </div>
              </div>
              <p class="error" id="password_validate"></p>

              <div class="input_group login_input email_input fit_div">
                <div class="join_gp">
                  <div class="input_div">
                    <%= f.text_field :nickname, autofocus: false, placeholder: "닉네임(2~8자)", maxlength: 8%>
                  </div>
                  <div class="check_div">
                    <span class="error" id="nickname_check"></span>
                  </div>
                </div>
              </div>
              <p class="error" id="nickname_error"></p>

              <div class="gender_div">
                <%= f.radio_button :is_boy, "true", checked: true, id: "male" %>
                <%= f.label :is_boy, "남자", class: "gender_input", for: "male" %>

                <%= f.radio_button :is_boy, "false", id: "female" %>
                <%= f.label :is_boy, "여자", class: "gender_input", for: "female" %>
              </div>

              <div class="input_group login_input fit_div">
                <div class="full_input input_div">
                  <%= f.collection_select :university_id, University.all, :id, :local_name, {:prompt => '학교'} %><br>
                </div>
              </div>
              <p class="error" id="university_error"></p>

              <div class="input_group login_input fit_div">
                <%= f.grouped_collection_select :major_id, University.order(:local_name), :majors, :local_name, :id, :name, {:prompt => '전공'} %><br>
              </div>
              <p class="error" id="major_error"></p>

              <%= f.submit "가입하기", class: "login_btn"%><br>
          <% end %>
          <p class="main_msg">이미 회원이신가요? <%= link_to "로그인", login_path, class: "go_join" %></p>
          <p class="main_msg rule_msg">계속 진행하시면 <a href="#" class="go_join">개인정보 취급방침</a> 및 <a href="#" class="go_join">약관</a>에 동의하게 됩니다</p>
        
      </div>
    </div>
  </div>
</div>


<script>
  // 로고만큼 넓이 고정하기 위한 jquery
  function setWidth() {
    var fit_logo = $(".logo");
    var fit_div = $(".fit_div");
    var fitWidth = fit_div.outerWidth();
    fit_div.css({ width: fitWidth });
    // fit_logo.css({ display: "none" });
  }

  setWidth();
</script>
