<div class="container-fluid">
    <div>
      <% @favorite_courses.each do |f| %>
      <div class="col-xs-6 col-sm-3 my_lect_div">
        <%= image_tag "/assets/prof.svg", class: "", alt: "professor" %>
        <p class="feed_course">
          <a href="/courses/<%=f.id%>"><%= f.lecture.name %></a>
          
          <% if Favorite.exists?(course_id: f.id, user_id: @current_user.id) %>
              <%= button_tag class: 'favorite_btn my_favorite_btn', id: 'favorite_delete_btn' do %>
                <i class="fa fa-heart favorite" aria-hidden="true"></i>
              <% end %>
          <% else %>
              <%= button_tag class: 'favorite_btn my_favorite_btn', id: 'favorite_add_btn' do %>
                <i class="fa fa-heart not_favorite" aria-hidden="true"></i>
              <% end %>
          <% end %>
        </p>
        
        <% if f.is_major %>
            <p class="feed_prof_major">
              <span class="lec_cate lec_major">전공</span><%= f.professor.name %> 교수님
            </p>
        <% else %>
            <p class="feed_prof_kyo">
              <span class="lec_cate lec_kyo">교양</span><%= f.professor.name %> 교수님
            </p>
        <% end %>


        
        <!--<#% if @current_user %>-->
        
        <!--  <#% if Favorite.exists?(course_id: f.id, user_id: @current_user.id) %>-->
        <!--      <#%= button_to '관심강의에서제거', users_favorites_delete_path(u_id: @current_user.id, c_id: f.id),-->
        <!--                    #method: :post, :onClick => 'alert("관심강의에서 제거되었습니다!")' %>-->
        <!--  <#% end %>-->
     
      </div>
      <% end %>
    </div>
</div>




