<div class="index_container">
  <div class="container-fluid my_page_fluid">
    
    <div class="course_top my_page_top">
        <div class="course_info_div my_page_top_div">
          <div class="my_page_top_info">
            <%= image_tag "/assets/lion_1.svg", class: "my_page_lion", alt: "lion"%><br>
            <p class="my_page_name">
              <%= @current_user.nickname %>
            </p>
            <hr class="info_hr my_page_hr">
            <div class="my_page_top_icons">
              <ul>
                <li>
                  <%= image_tag "/assets/my_school.svg", class: "" %>
                  <span>한국예술종합학교</span>
                </li>
                <li>
                  <%= image_tag "/assets/my_point.svg", class: "" %>
                  <span><%= @current_user.point %></span>
                </li>
                <li>
                  <%= image_tag "/assets/my_review.svg", class: "" %>
                  <span>3개</span>
                </li>
                <li>
                  <%= image_tag "/assets/my_reply.svg", class: "" %>
                  <span>1개</span>
                </li>
              </ul>
            </div>
            <!--<div class="my_page_top_icons">-->
            <!--  <div style="display: inline-block; width:23%; height:100%; background: red;">-->
            <!--    <%= image_tag "/assets/my_school.svg", class: "" %>-->
            <!--    <p>성균관대</p>-->
            <!--  </div>-->
            <!--  <div style="display: inline-block; width:23%; height:100%; background: red;">-->
            <!--    <%= image_tag "/assets/my_point.svg", class: "" %>-->
            <!--    <p>1000</p>-->
            <!--  </div>-->
            <!--  <div style="display: inline-block; width:23%; height:100%; background: red;">-->
            <!--      <%= image_tag "/assets/my_review.svg", class: "" %>-->
            <!--      <p>3개</p>-->
            <!--  </div>-->
            <!--  <div style="display: inline-block; width:23%; height:100%; background: red;">-->
            <!--      <%= image_tag "/assets/my_reply.svg", class: "" %>-->
            <!--      <p>1개</p>-->
            <!--  </div>              -->
              


            <!--</div>-->

            
          </div>
        	<!--<div class="info_left">-->
            <!--<div>-->
         <!--   	<%= image_tag "/assets/prof.svg", class: "course_prof_img", alt: "professor"%>-->
            <!--</div>-->
        	<!--</div>-->
          
        <!--	<div class="info_right_1">-->
	       <!--     <div>-->
	       <!--       <span class="info_course">-->
	       <!--        탑 오른쪽 위-->
	       <!--     </div>-->
        <!--	</div>-->
            
      		<!--<div class="info_right_2">    -->
	       <!-- 	탑 오른쪽 아래-->
        <!--	</div>-->
        </div>
    </div>
    
    <div class="tab_div my_page_tab_div">
  	
  	<ul class="tab">
  	  <li>
  	  	<a href="javascript:void(0)" class="mypage_tab_1 tablinks" onclick="openCity(event, 'my_info')" id="defaultOpen">
          회원정보
  	  	</a>
  	  </li>
  	  <li>
  	  	<a href="javascript:void(0)" class="mypage_tab_1 tablinks" onclick="openCity(event, 'my_review')">
  	  		내가 쓴 강의평가
  	  	</a>
  	  </li>
  	  <li>
  	  	<a href="javascript:void(0)" class="mypage_tab_1 tablinks" onclick="openCity(event, 'my_reply')">
  	  		내가 쓴 댓글
  	  	</a>
  	  </li>
  	  <li>
  	  	<a href="javascript:void(0)" class="mypage_tab_1 tablinks" onclick="openCity(event, 'my_lecture')">
  	  		관심강의
  	  	</a>
  	  </li>
      <% if @current_user %>
      <li>
        <a href="javascript:void(0)" class="mypage_tab_1 tablinks" onclick="openCity(event, 'my_report')">
          신고내역
        </a>
      </li>
      <% end %>
    </ul>
	
  	<div id="my_info" class="tabcontent">
      <%= render "my_info" %>
  	</div>
  	
  	<div id="my_review" class="tabcontent">
  	  <%#프론트 확인 위해 임시로 둘다 열어놓음%>
      <% if @evaluations.empty? %>
  	    <%= render "no_review" %>
      <% else %>
  	    <%= render "my_review" %>
      <% end %>
  	</div>
  	
  	<div id="my_reply" class="tabcontent">
      <% if @comments.nil? %>
        <%= render "no_reply" %>
      <% else %>
        <%= render "my_reply" %>
      <% end %>
  	</div>
  	
  	<div id="my_lecture" class="tabcontent">
      <% if @favorite_courses.nil? %>
  	    <%= render "no_lecture" %>
      <% else %>
  	    <%= render "my_lecture" %>
      <% end %>
  	</div>

    <div id="my_report" class="tabcontent">
      <%= render "my_report" %>
    </div>
	
  </div>
  </div>
</div>

<script>
  //nav 바로 아래로 붙이기
  $(".index_container").css("padding-top",$(".cd-main-header").height());
  
  $( window ).resize(function() {
    $(".index_container").css("padding-top",$(".cd-main-header").height());
  });

  //tab start//
	function openCity(evt, cityName) {
	    // Declare all variables
	    var i, tabcontent, tablinks;
	    
	    // for image change
	 //   var review_on = '/assets/review_on.svg';
		// var review_off = '/assets/review_off.svg';
		
	 //   var wiki_on = '/assets/wiki_on.svg';
		// var wiki_off = '/assets/wiki_off.svg';
	
	    // Get all elements with class="tabcontent" and hide them
	    tabcontent = document.getElementsByClassName("tabcontent");
	    for (i = 0; i < tabcontent.length; i++) {
	        tabcontent[i].style.display = "none";
	    }
	
	    // Get all elements with class="tablinks" and remove the class "active"
	    tablinks = document.getElementsByClassName("tablinks");
	    for (i = 0; i < tablinks.length; i++) {
	        tablinks[i].className = tablinks[i].className.replace(" active", "");
	    }
	   // tablinks[0].children[0].src = review_off;
    //     tablinks[1].children[0].src = wiki_off;
	
	    // Show the current tab, and add an "active" class to the link that opened the tab
	    document.getElementById(cityName).style.display = "block";
	    evt.currentTarget.className += " active";
	    
	 //   if (evt.currentTarget.className.match('wiki_tab')) {
		// 	evt.currentTarget.children[0].src = wiki_on;
	 //   }
	 //   else {
		// 	evt.currentTarget.children[0].src = review_on;
	 //   };
	}
	//change tab img end//
	
    // Get the element with id="defaultOpen" and click on it
	document.getElementById("defaultOpen").click();
	//tab end//
</script>






