<br><br><br><br>
<ul class="w3-navbar w3-black">
  <li><a href="javascript:void(0)" onclick="openCity('London')">회원정보</a></li>
  <li><a href="javascript:void(0)" onclick="openCity('Paris')">내가 쓴 강의평가</a></li>
  <li><a href="javascript:void(0)" onclick="openCity('Seoul')">내가 쓴 댓글</a></li>
  <li><a href="javascript:void(0)" onclick="openCity('Tokyo')">관심강의</a></li>
</ul>
<div id="London" class="w3-container city">
  <%# 버튼 대신 렌더하기로 바꿔야할듯 %>
  <p><%= link_to "버튼", edit_user_path(@current_user) %></p>
</div>
<div id="Paris" class="w3-container city" style="display:none">
  <table>
    <tr>
      <th>링크</th>
      <th>강의명</th>
      <th>교수명</th>
      <th>학교</th>
      <th>평점</th>
      <th>내용</th>
    </tr>

    <% @evaluations.each do |e| %>
        <tr>
          <td><a href='/courses/<%= e.course.id %>'>링크</a></td>
          <td><%= e.course.lecture.name %></td>
          <td><%= e.course.professor.name %></td>
          <td><%= e.course.university.local_name %></td>
          <td><%= e.point_overall %></td>
          <td><%= e.body.html_safe %></td>
        </tr>
    <% end %>
  </table>
</div>
<div id="Seoul" class="w3-container city" style="display:none">
  <table>
    <thead>
      <tr>
        <th>링크</th>
        <th>강의명</th>
        <th>내용</th>
      </tr>
    </thead>
    <% @evaluations.each do |e| %>
      <tbody>
        <tr>
          <% e.comments.each do |c| %>
              <td><a href='/courses/<%= e.course.id %>'>링크</a></td>
              <td><%= e.course.lecture.name %></td>
              <td><%= c.body %></td>
          <% end %>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
<div id="Tokyo" class="w3-container city" style="display:none">
  <table>
    <thead>
    <tr>
      <th>링크</th>
      <th>강의명</th>
      <th>교수명</th>
    </tr>
    </thead>
    <% @favorite_courses.each do |f| %>
      <tbody>
        <tr>
          <% if @current_user %>
              <% if Favorite.exists?(course_id: f.id, user_id: @current_user.id) %>
                  <%= button_to '관심강의에서제거', users_favorites_delete_path(u_id: @current_user.id, c_id: f.id),
                                method: :post, :onClick => 'alert("관심강의에서 제거되었습니다!")' %>
              <% end %>
          <% end %>
          <td><a href="/courses/<%=f.id%>">링크</a></td>
          <td><%= f.lecture.name %></td>
          <td><%= f.professor.name %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>


<script>
  function openCity(cityName) {
    var i;
    var x = document.getElementsByClassName("city");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    document.getElementById(cityName).style.display = "block";
  }
</script>
