<p>내가 쓴 강의평</p>
<table>
  <tr>
    <th>강의명</th>
    <th>교수명</th>
    <th>학교</th>
    <th>평점</th>
    <th>내용</th>
  </tr>

  <% @evaluations.each do |e| %>
      <tr>
        <td><%= e.course.lecture.name %></td>
        <td><%= e.course.professor.name %></td>
        <td><%= e.course.university.local_name %></td>
        <td><%= e.point_overall %></td>
        <td><%= e.body.html_safe %></td>
      </tr>
  <% end %>
</table>
<br>
<p>내가 쓴 댓글</p>

<p>관심강의</p>

<p><%= link_to "회원정보 수정하기", edit_user_path(current_user) %></p>