<div class="container-fluid">
  <div class="info_div">
<%# provide(:title, "Edit User") %>
<%#= form_for(@current_user) do |f| %>
  <%#=  render 'shared/error_messages' %>
    
    <div class="edit_div">
      <div class="edit_title title_nick">닉네임</div>
      <div class="edit_content_div">
        <div class="edit_content 1_nick">
          <div class="edit_value">
            <%= @current_user.nickname %>
          </div>
          <i class="fa fa-pencil" aria-hidden="true" onclick="edit_open('nick');"></i><br>
        </div>
    
      <div class="edit_content 2_nick" style="display: none;">
        <%= form_for(@current_user) do |f| %>
          <!--아이디, pw hidden값으로 같이 넘겨줘야하는데 id는 되는데 pw는 안됨! pw만 같이 넘기면 해결-->
          <%= f.hidden_field :email, value: @current_user.email %>
          <%#= f.hidden_field :password, value: @current_user.password %>  
          <%= f.password_field :password %><br/>
          <div class="edit_value">
            <%= f.text_field :nickname, placeholder: "새 닉네임(8자 이내)", class: "input_edit" %>
          </div><br>
          <div class="edit_btns edit_btns_nickname">
            <!--span 말고 button으로 해야하는데 button 클릭 시 form 넘어가버려서 임시로 바꿈. css는 button 기준으로 작성-->
            <span class="edit_cancel_btn" onclick="edit_close('nick');">취소</span>
            <button class="edit_save_btn">저장</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="edit_div">
    <div class="edit_title">이메일</div>
    <div class="edit_content_div">
      <div class="edit_content">
        <div class="edit_value">
          <%= @current_user.email %>
        </div>
      </div>
    </div>
  </div>
    
  <div class="edit_div">
    <div class="edit_title title_pw">비밀번호</div>
    <div class="edit_content_div">
      <div class="edit_content 1_pw">
        <div class="edit_value">
          ●●●●●●●● <%# 이 부분 어떻게 표기할 것인지 의논필요! 자릿수만큼 보여줄건지? 그냥 임의로 동그라미 8개? %>
          <%#= @current_user.password %>
        </div>
        <i class="fa fa-pencil pencil_pw" aria-hidden="true" onclick="edit_open('pw');"></i><br>
      </div>
    
      <div class="edit_content 2_pw" style="display: none;">
        <%= form_for(@current_user) do |f| %>
          <%= f.hidden_field :email, value: @current_user.email %>
          <%#= f.hidden_field :password, value: @current_user.password %>  
          <%= f.password_field :password %><br/>
          <div class="edit_value">
            <%= f.password_field :password, placeholder: "현재 비밀번호", class: "input_edit" %>
            <%= f.password_field :password, placeholder: "새 비밀번호", class: "input_edit" %>
            <%= f.password_field :password, placeholder: "새 비밀번호 확인", class: "input_edit" %>
          </div><br>
          <div class="edit_btns edit_btns_nickname">
            <!--span 말고 button으로 해야하는데 button 클릭 시 form 넘어가버려서 임시로 바꿈. css는 button 기준으로 작성-->
            <span class="edit_cancel_btn" onclick="edit_close('pw');">취소</span>
            <button class="edit_save_btn">저장</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="edit_div">
    <div class="edit_title">성별</div>
    <div class="edit_content_div">
      <div class="edit_content">
        <div class="edit_value">
          <% if :is_boy === true %>
          남자
          <% else %>
          여자
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="edit_div">
    <div class="edit_title">인증여부</div>
    <div class="edit_content_div">
      <div class="edit_content">
        <div class="edit_value">
          <%= @current_user.activated %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="edit_div">
    <div class="edit_title">강의평가 권한</div>
    <div class="edit_content_div">
      <div class="edit_content">
        <div class="edit_value">
          <%= @current_user.activated %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="edit_div edit_last_div">
      <div class="edit_title">위키열람 권한</div>
      <div class="edit_content_div">
        <div class="edit_content">
          <div class="edit_value">
            <%= @current_user.activated %>
          </div>
        </div>
      </div>
    </div>
  </div>
    

    <%#= f.submit "변경사항 저장하기" %>
<%# end %>
</div>

<script>
  //수정하기
  function edit_open(editData) {
    $(".1_"+editData).toggle();
    $(".2_"+editData).toggle(250);
    
    //추후 수정 필요. 임시
    $(".edit_title").css("color", "#DBDBDB");
    $(".title_"+editData).css("color", "#484848");
    $(".edit_value").css("color", "#DBDBDB");
  }
  
  //수정 취소
  function edit_close(editData) {
    $(".2_"+editData).toggle(250);
    $(".1_"+editData).toggle(10);
    
    //추후 수정 필요. 임시
    $(".edit_title").css("color", "#484848");
    $(".edit_value").css("color", "#484848");
  }
  
</script>