<div style="margin-top:200px;">
  <% if @wiki_history.size > 1 %>
  <a href="#" id="diff_revisions">리비전 비교하기</a>
  <% end %>
  <% @wiki_history.each do |w| %>
    <p>
    <a href="/wiki/<%= w.course_id %>/show/<%= w.revision %>">보기</a>
    |
    <a href="/wiki/<%= w.course_id %>/rollback/<%= w.revision %>">이 리비전으로 돌리기</a>
    |
    <a href="/wiki/<%= w.course_id %>/diff/<%= w.revision%>/<%= w.course.recent_wiki.revision %>">바뀐점</a>
    |
    <%= w.revision %>
    <% if @wiki_history.size > 1 %>
    <input type="radio" class="revision_left" id="revision_left_<%= w.revision %>" name="left" value="<%= w.revision %>">
    <input type="radio" class="revision_right" id="revision_right_<%= w.revision %>" name="right" value="<%= w.revision %>">
    <% end %>
    //
    <%= w.created_at %>
    //
    <%= w.user.nickname %>
    //
    <%= w.comment %>
    <% if w.rollback >= 0 %>
    //
    <span style="font-weight:bold">Roll back from <%= w.rollback%><span>
    <% end %>
    </p>
  <% end %>
</div>
<script>
$(function(){
  <% if @wiki_history.size > 1 %>
  $("#diff_revisions").on("click touchstart", function(){
    window.location.replace("/wiki/<%= params[:id] %>/diff/" + $("input[name='left']:checked").val() + "/" + $("input[name='right']:checked").val());
  });
  function left_flush(left_number){
    $(".revision_left").each(function() {
      if(parseInt($(this).val()) >= left_number){
        $(this).css("visibility", "hidden");
      }else{
        $(this).css("visibility", "visible");
      }
    });
  }
  function right_flush(right_number){
    $(".revision_right").each(function() {
      if(parseInt($(this).val()) <= right_number){
        $(this).css("visibility", "hidden");
      }else{
        $(this).css("visibility", "visible");
      }
    });
  }
  $(".revision_right").on("click touchstart", function(){
    left_flush(parseInt($(this).val()));
  });
  $(".revision_left").on("click touchstart", function(){
    right_flush(parseInt($(this).val()));
  });

  $("#revision_left_" + <%= @wiki_history.first.revision - 1 %>).attr('checked', 'checked');
  $("#revision_right_" + <%= @wiki_history.first.revision %>).attr('checked', 'checked');

  left_flush(<%= @wiki_history.first.revision %>);
  right_flush(<%= @wiki_history.first.revision - 1 %>);
  <% end %>
});
</script>
