<div class="index_container">
  <div class="container-fluid">
    <div>
      <% @evaluations.each do |e| %>
          <div class="feed_each">
            <div class="row">
              <div class="col-xs-3 col-sm-2 feed_writer feed_each_div">
                <%= image_tag "/assets/lion_1.svg", class: "feed_lion", alt: "lion"%>
                <p class="feed_nickname"><%= e.user.nickname %></p>
              </div>

              <div class="col-xs-9 col-sm-10 feed_each_div">
                <div class="col-xs-12">
                  <p class="feed_course">
                    <a href='/courses/<%= e.course.id %>'><%= e.course.lecture.name %></a>
                  </p>
                  <% if e.course.is_major %>
                      <p class="feed_prof_major">
                        <span class="lec_cate lec_major">전공</span><%= e.course.professor.name %> 교수님
                      </p>
                  <% else %>
                      <p class="feed_prof_kyo">
                        <span class="lec_cate lec_kyo">교양</span><%= e.course.professor.name %> 교수님
                      </p>
                  <% end %>
                </div>

                <div class="col-xs-12 col-sm-5">
                  <div class="rating_div">
                    <div class="rating-head">총점</div>
                    <div class="rating">
                      <select id="pillbar" class=<%= "p#{e.point_overall}" %> name="rating" autocomplete="off">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                      </select>
                    </div>
                  </div>
                  <div class="rating_div">
                    <div class="rating-head">널널함</div>
                    <div class="rating">
                      <select id="pillbar" class=<%= "p#{e.point_easiness}" %> name="rating" autocomplete="off">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-5">
                  <div class="rating_div">
                    <div class="rating-head">강의만족도</div>
                    <div class="rating">
                      <select id="pillbar" class=<%= "p#{e.point_gpa_satisfaction}" %> name="rating" autocomplete="off">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                      </select>
                    </div>
                  </div>
                  <div class="rating_div">
                    <div class="rating-head">학점만족도</div>
                    <div class="rating">
                      <select id="pillbar" class=<%= "p#{e.point_clarity}" %> name="rating" autocomplete="off">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                      </select>
                    </div>
                  </div>
                </div>
                <p class="feed_content col-xs-12">
                  <%= e.body.html_safe %>
                </p>
                <p class="feed_etc col-xs-12">
                  <%= e.time_ago %>
                  ·
                  <a href="#"><%= image_tag "reply.svg", alt: "reply" %></a><%#댓글버튼, 얘를 누르면 밑에가 확장됨 %>
                  <span id="comment_count<%=e.id%>"><%= e.comments.count %></span><%# 댓글 수 %>
                  ·
                  <a href="#"><%= image_tag "siren.svg", alt: "lion" %></a><%#신고버튼 %>
                </p><%# ////feed_etc %>
              </div><%# ////col-xs-9 col-sm-10 feed_each_div %>
            </div><%# ////row %>

            <%# 우리가 만든 댓글 코드 %>
            <div class="row">
              <div class="col-xs-3 col-sm-2">
              </div>
              <%# 댓글리스트 %>
              <div class="col-xs-9 col-sm-10 feed_each_div">
                <div class="comment_list" id="comment_list<%=e.id%>">
                  <% e.comments.each do |c| %>
                      <div>
                        <%= c.user.nickname %> &nbsp; <%= c.time_ago %><br/>
                        <%= c.body %><br/>
                      </div>
                      <br/>
                  <% end %>
                </div>
                <%# 댓글작성 부분 -> 보안과 관련해서 코드 리팩토링 진행할 것 %>
                <div>
                  <input class="comment_body" id="comment_body<%=e.id%>" type="text" placeholder="자유롭게 댓글을 입력해주세요." >
                  <button type="submit" class="submit_comment" id="submit_comment<%=e.id%>" value="<%=e.id%>">전송</button>
                </div>
              </div>
            </div><%# ////우리가 만든 댓글 코드 %>

          </div><%# ////feed_each %>
          <hr class="feed_hr">
      <% end %><%# ////evaluation each %>
    </div>
  </div><%# ////container-fluid %>
</div><%# ////index_container %>

<script>
  <%# 댓글달기 -> 보안과 관련해서 코드 리팩토링 진행할 것 %>
  $(document).on("click",".submit_comment",function(){
    var eval_id = this.value; <%# 강의 아이디 겟 %>
    var user = "<%= @current_user.nickname %>";
    var comment_body = $("#comment_body" + eval_id).val(); <%# 댓글 내용 겟 %>
    //여기서부터
    $.ajax({
      method: "POST",
      url: "/evaluations/"+eval_id+"/comments",
      data: {'comment[body]': comment_body, 'comment[evaluation_id]': eval_id},
      success: function(){
        <%# 프론트 바뀌면 append되는 html코드 수정할 것 %>
        $("#comment_list"+eval_id).append("<div>" + user +" &nbsp; 방금 전" +"<br/>" + comment_body +"<br/></div><br/>"); <%# 댓글 리스트에 추가 %>
        $("#comment_count"+eval_id).html(parseInt($("#comment_count"+eval_id).html(), 10)+1); <%# 댓글 수 +1 %>
        $("#comment_body"+eval_id).val(' ');<%# 전송 완료시 공백 %>
      }
    })
    //여기까지
  });

  <%# 평점별점바 %>
  $('.p1').barrating('show', {
    theme: 'bars-pill',
    initialRating: '1',
    showValues: true,
    showSelectedRating: false,
    allowEmpty: true,
    readonly: true
    // emptyValue: '-- no rating selected --'
    // onSelect: function(value, text) {
    // alert('Selected rating: ' + value);
    // }
  });

  $('.p2').barrating('show', {
    theme: 'bars-pill',
    initialRating: '2',
    showValues: true,
    showSelectedRating: false,
    allowEmpty: true,
    readonly: true
    // emptyValue: '-- no rating selected --'
    // onSelect: function(value, text) {
    // alert('Selected rating: ' + value);
    // }
  });

  $('.p3').barrating('show', {
    theme: 'bars-pill',
    initialRating: '3',
    showValues: true,
    showSelectedRating: false,
    allowEmpty: true,
    readonly: true
    // emptyValue: '-- no rating selected --'
    // onSelect: function(value, text) {
    // alert('Selected rating: ' + value);
    // }
  });

  $('.p4').barrating('show', {
    theme: 'bars-pill',
    initialRating: '4',
    showValues: true,
    showSelectedRating: false,
    allowEmpty: true,
    readonly: true
    // emptyValue: '-- no rating selected --'
    // onSelect: function(value, text) {
    // alert('Selected rating: ' + value);
    // }
  });

  $('.p5').barrating('show', {
    theme: 'bars-pill',
    initialRating: '5',
    showValues: true,
    showSelectedRating: false,
    allowEmpty: true,
    readonly: true
    // emptyValue: '-- no rating selected --'
    // onSelect: function(value, text) {
    // alert('Selected rating: ' + value);
    // }
  });

</script>
