<div class="index_container">
  <div class="container-fluid">
    <div>
      <% @evaluations.each do |e| %>
          <div class="feed_each">
            <div class="row">
              <div class="col-xs-3 col-sm-2 feed_writer feed_each_div">
                <%= image_tag "/assets/lion_1.svg", class: "feed_lion", alt: "lion"%>
                <p class="feed_nickname"><%= e.user.nickname %></p>
              </div>

              <div class="col-xs-9 col-sm-10 feed_each_div">
                <div class="col-xs-12">
                  <p class="feed_course">
                    <a href='/courses/<%= e.course.id %>'><%= e.course.lecture.name %></a>
                  </p>
                  <% if e.course.is_major %>
                      <p class="feed_prof_major">
                        <span class="lec_cate lec_major">전공</span><%= e.course.professor.name %> 교수님
                      </p>
                  <% else %>
                      <p class="feed_prof_kyo">
                        <span class="lec_cate lec_kyo">교양</span><%= e.course.professor.name %> 교수님
                      </p>
                  <% end %>
                </div>

                <div class="col-xs-12 col-sm-5">
                  <div class="rating_div">
                    <div class="rating-head">총점</div>
                    <div class="rating">
                      <select id="pillbar" class=<%= "p#{e.point_overall}" %> name="rating" autocomplete="off">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                      </select>
                    </div>
                  </div>
                  <div class="rating_div">
                    <div class="rating-head">널널함</div>
                    <div class="rating">
                      <select id="pillbar" class=<%= "p#{e.point_easiness}" %> name="rating" autocomplete="off">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-5">
                  <div class="rating_div">
                    <div class="rating-head">강의만족도</div>
                    <div class="rating">
                      <select id="pillbar" class=<%= "p#{e.point_gpa_satisfaction}" %> name="rating" autocomplete="off">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                      </select>
                    </div>
                  </div>
                  <div class="rating_div">
                    <div class="rating-head">학점만족도</div>
                    <div class="rating">
                      <select id="pillbar" class=<%= "p#{e.point_clarity}" %> name="rating" autocomplete="off">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                      </select>
                    </div>
                  </div>
                </div>
                <p class="feed_content col-xs-12">
                  <%= e.body.html_safe %>
                </p>
                <p class="feed_etc col-xs-12">
                  <%= e.time_ago %>
                  ·
                  <a href="#"><%= image_tag "reply.svg", alt: "reply" %></a><%#댓글버튼, 얘를 누르면 밑에가 확장됨 %>
                  <span id="comment_count<%=e.id%>"><%= e.comments.count %></span><%# 댓글 수 %>
                  ·
                  <a href="#"><%= image_tag "siren.svg", alt: "lion" %></a><%#신고버튼 %>
                </p><%# ////feed_etc %>
              </div><%# ////col-xs-9 col-sm-10 feed_each_div %>
            </div><%# ////row %>

            <%# 우리가 만든 댓글 코드 %>
            <div class="row">
              <div class="col-xs-3 col-sm-2"></div>
              <%# 댓글리스트 %>
              <div class="col-xs-9 col-sm-10 feed_each_div">
                <div class="comment_list" id="comment_list<%=e.id%>">
                  <% e.comments.each do |c| %>
                      <%# 여기서부터 %>
                      <div id="comment_list_child<%=c.id%>">
                          <%= c.user.nickname %> &nbsp; <%= c.time_ago %>
                          <% if c.user == @current_user %>
                              ·
                              <a href="#">수정</a>
                              ·
                              <%= link_to '삭제', comment_path(c), remote: true, method: :delete %>
                          <% end %>
                          <br/>
                        <div id="comment_list_body<%=c.id%>"><%= c.body %></div>
                        <br/>
                      </div>
                      <%# 여기까지 /comments/_comment.html.erb에도 partial로 존재 %>
                  <% end %>
                 </div><%# ////댓글리스트 %>
                <%# 댓글작성 %>
                <div id="comment_form<%=e.id%>">
                  <%= form_for(Comment.new, url: evaluation_comments_path(evaluation_id: e.id ), remote: true) do |f| %>
                    <%= f.text_field :body, id: "comment_body#{e.id}", placeholder: "자유롭게 댓글을 입력해주세요.", autocomplete: "off"%>
                    <%= f.submit "댓글 쓰기"%>
                  <% end %>
                </div><%# ////댓글작성 %>
              </div>
            </div><%# ////우리가 만든 댓글 코드 %>

          </div><%# ////feed_each %>
          <hr class="feed_hr">
      <% end %><%# ////evaluation each %>
    </div>
  </div><%# ////container-fluid %>
</div><%# ////index_container %>

<script>
  <%# 평점별점바 %>
  $('.p1').barrating('show', {
    theme: 'bars-pill',
    initialRating: '1',
    showValues: true,
    showSelectedRating: false,
    allowEmpty: true,
    readonly: true
    // emptyValue: '-- no rating selected --'
    // onSelect: function(value, text) {
    // alert('Selected rating: ' + value);
    // }
  });

  $('.p2').barrating('show', {
    theme: 'bars-pill',
    initialRating: '2',
    showValues: true,
    showSelectedRating: false,
    allowEmpty: true,
    readonly: true
    // emptyValue: '-- no rating selected --'
    // onSelect: function(value, text) {
    // alert('Selected rating: ' + value);
    // }
  });

  $('.p3').barrating('show', {
    theme: 'bars-pill',
    initialRating: '3',
    showValues: true,
    showSelectedRating: false,
    allowEmpty: true,
    readonly: true
    // emptyValue: '-- no rating selected --'
    // onSelect: function(value, text) {
    // alert('Selected rating: ' + value);
    // }
  });

  $('.p4').barrating('show', {
    theme: 'bars-pill',
    initialRating: '4',
    showValues: true,
    showSelectedRating: false,
    allowEmpty: true,
    readonly: true
    // emptyValue: '-- no rating selected --'
    // onSelect: function(value, text) {
    // alert('Selected rating: ' + value);
    // }
  });

  $('.p5').barrating('show', {
    theme: 'bars-pill',
    initialRating: '5',
    showValues: true,
    showSelectedRating: false,
    allowEmpty: true,
    readonly: true
    // emptyValue: '-- no rating selected --'
    // onSelect: function(value, text) {
    // alert('Selected rating: ' + value);
    // }
  });

</script>
