<div class="index_container">
  <div class="container-fluid">
    <div class="course_top">
      <div class="course_info_div">
        <div class="info_left">
          <%= image_tag "/assets/prof.svg", class: "course_prof_img", alt: "professor" %>
        </div>

        <div class="info_right_1">
          <div>
            <span class="info_course">
              <%= @course.lecture.name %>
              <% if @current_user %>
                <%= hidden_field_tag 'c_id', @course.id %>
                  <% if Favorite.exists?(course_id: @course.id, user_id: @current_user.id) %>
                    <%= button_tag class: 'favorite_btn', id: 'favorite_delete_btn' do %>
                      <i class="fa fa-heart favorite" aria-hidden="true"></i>
                    <% end %>
                <% else %>
                    <%= button_tag class: 'favorite_btn', id: 'favorite_add_btn' do %>
                    <i class="fa fa-heart not_favorite" aria-hidden="true"></i>
                  <% end %>
                <% end %>
            <% end %>
            </span>
            <br>
            <% if @course.is_major == true %>
              <span class="info_prof_major">
                <span class="lec_cate lec_major">전공</span><%= @course.professor.name %> 교수님
              </span>
            <% else %>
              <span class="info_prof_kyo">
                <span class="lec_cate lec_kyo">교양</span><%= @course.professor.name %> 교수님
              </span>
            <% end %>
          </div>
        </div><%#////info_right_1%>

        <div class="info_right_2">
          <hr class="info_hr">
          <div class="info_p_div">
            <p class="info_1">
              <span class="info_title">학수번호</span> <%= @course.lecture.code %>
            </p>
            <p class="info_2">
              <span class="info_title">학점</span> <%= @course.lecture.unit %>학점
            </p>
            <p class="info_3">
              <span class="info_title">같은 강의</span>
              <% if !@identical_courses.present? %>
                  같은 강의가 없습니다
              <% else %>
                  <% @other_course = [] %>
                  <% @identical_courses.each do |id| %>
                      <% @other_course << Course.find(id) %>
                  <% end %>
                  <%= select_tag 'identical', options_for_select(  @other_course.collect{ |u| [u.lecture.name+"("+u.professor.name+")", u.id] }.insert(0, [@msg,@msg])  ), selected: @msg, onchange: "window.location.replace('/courses/'+this.value);" %>
              <% end %>
            </p>
            <p class="info_4">
              <span class="info_title">연관 강의</span>
              <% if !@related_courses.present? %>
                  연관 강의가 없습니다
              <% else %>
                  <% @other_course = [] %>
                  <% @related_courses.each do |id| %>
                    <% @other_course << Course.find(id) %>
                  <% end %>
                  <%= select_tag 'related', options_for_select(  @other_course.collect{ |u| [u.lecture.name+"("+u.professor.name+")", u.id] }.insert(0, [@msg,@msg])  ), selected: @msg, onchange: "window.location.replace('/courses/'+this.value);" %>
              <% end %>
            </p>
          </div><%#////info_p_div%>
        </div><%#////info_right_2%>
      </div><%#////course_info_div%>
    </div><%#////course_top %>

    <hr class="bottom_hr">

    <div class="info_score col-xs-12 row">
      <% if @course.evaluations.exists? %>
        좋아요<%= @like %> (<%= @like_per %>) - 싫어요<%= @dislike %> (<%= @dislike_per %>)
        <br>
        <%= @count %>명의 학생이 평가했습니다.
      <% else %>
        아직 평가가 없습니다. 소중한 강의평을 남겨주세요.
      <% end %>
    </div>

    <hr class="feed_hr">
    
    <% if @evaluated_list.include?(@course.id) %>
      이미 평가를 했습니다.
    <% else %>
      <%= render 'form' %>
    <% end %>

    <div class="tab_div">
      <ul class="tab">
        <li>
          <a href="javascript:void(0)" class="review_tab tablinks" onclick="openCity(event, 'review')" id="defaultOpen">
            <%= image_tag "/assets/review_on.svg", class: "tab_img", alt: "review" %>
            학생들의 강의평가
            <span class="review_count"><%= @course.evaluation_count %></span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" class="wiki_tab tablinks" onclick="openCity(event, 'wiki')">
            <%= image_tag "/assets/wiki_on.svg", class: "tab_img", alt: "review"%>
            강의의 모든것, WIKI

          </a>
        </li>
      </ul>

      <div id="review" class="tabcontent">
        <div class="sort_div">
          <div class="sort_here">
            <%# partial refresh needed %>
            <%= form_tag do %>
                <%= select_tag 'order', options_for_select(['최신순','총점순','총점역순'], @params), onchange: "$('#order').submit();" %>
            <% end %>
          </div>
        </div>
        <% if @course.evaluation_count > 0 %>
            <%= render "evaluations" %>
        <% end %>
      </div>

      <div id="wiki" class="tabcontent">
        <%= render "wikis" %>
      </div>

    </div>
  </div>
</div>


<%# 스크립트 분리할 것%>

<script>
  <%# 관심강의 제거 %>
  $(document).on("click","#favorite_delete_btn",function() {
    var course_id = $('#c_id').val();
    $.ajax({
      method: "POST",
      url: '/users/favorites_delete',
      data: {c_id: course_id},
      dataType: "json",
      success: function ( result) {
        if(result.msg === "ok"){
          $('.favorite_btn i').addClass('not_favorite');
          $('.favorite_btn i').removeClass('favorite');
          $('.favorite_btn').attr("id", "favorite_add_btn");
        }else if(result.msg === "error"){
          console.log(result.msg);
        }
      }
    });
  });
  <%# 관심강의 추가 %>
  $(document).on("click","#favorite_add_btn",function() {
    var course_id = $('#c_id').val();
    $.ajax({
      method: "POST",
      url: '/users/favorites_add',
      data: {c_id: course_id},
      dataType: "json",
      success: function ( result) {
        if(result.msg === "ok"){
          $('.favorite_btn i').addClass('favorite');
          $('.favorite_btn i').removeClass('not_favorite');
          $('.favorite_btn').attr("id", "favorite_delete_btn");
        }else if(result.msg === "error"){
          console.log(result.msg);
        }
      }
    });
  });
</script>
<%# 스크립트 분리할 것 %>
<script>
  //tab start//
  function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // for image change
    var review_on = '/assets/review_on.svg';
    var review_off = '/assets/review_off.svg';

    var wiki_on = '/assets/wiki_on.svg';
    var wiki_off = '/assets/wiki_off.svg';

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    tablinks[0].children[0].src = review_off;
    tablinks[1].children[0].src = wiki_off;

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";

    if (evt.currentTarget.className.match('wiki_tab')) {
      evt.currentTarget.children[0].src = wiki_on;
    }
    else {
      evt.currentTarget.children[0].src = review_on;
    };
  }
  //change tab img end//

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
  //tab end//

</script>