<!DOCTYPE html>
<html>
  <head>
    <title>Classlion</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <!--로그인 x-->
    <a href="/evaluations/index">CLASSLION(로고)</a> <input placeholder="강의명, 교수명, 전공명으로 검색해보세요!" type="text" name="courses" size="120">

    1000P
    강평열람
    위키열람
    <!--여기다가 로그인한 사람 닉네임 뿌려주기-->
    <%= User.find(session["user_id"]).nickname %>
    <a href="/mypages/index">마이페이지</a>

  </header>


  <body>
    <%= yield %>
  </body>

  <footer>
    <a href="/home/about"></a>
  </footer>
</html>

