<!DOCTYPE html>
<html>
  <head>
    <title>Classlion</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- for encoding -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--for mobile resize-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--for font -->
    <link href="https://cdn.rawgit.com/YJSoft/Webfonts/0.1/BM_JUA.css" rel="stylesheet" type="text/css" />

   <!-- 개발을 위한 임시 css -->
    <style>
      .rolebutton {
        display: inline-block;
      }
      .searchfield {
        display: inline-block;
      }
    </style>
  </head>

  <body>
    <%# rails flash %>
    <% flash.each do |name, msg| %>
      <%= render 'flash', name: name, msg: msg %>
    <% end %>

    <%# 로그인을 해야 상단 네비가 보여짐 %>
    <% unless current_user.nil? %>
    <header>
      <!--로그인 x-->
      <a href="/evaluations">CLASSLION</a>
      <div class="searchfield">
        <%= form_tag evaluations_path, :method => :get do %>
            <%= text_field_tag :search, params[:search], placeholder: "강의명, 교수명, 전공명으로 검색해보세요!" %>
            <%= submit_tag "Search", :name => nil %>
        <% end %>
      </div>

      <!--<input placeholder="강의명, 교수명, 전공명으로 검색해보세요!" type="text" name="courses" size="80">-->

      <% if logged_in? %>
          <%= current_user.point %> 점
          <div class="rolebutton">
            강평열람
            <% if !(current_user.has_role? 'evaluator') && current_user.point >= 1000 %>
              <%= button_to '오픈하기', roles_evaluator_path, method: :post, :onClick => 'alert("1000포인트 차감! 강평열람 권한이 부여되었습니다!")' %>
            <% elsif !(current_user.has_role? 'evaluator') && current_user.point < 1000 %>
              <%= button_to '오픈하기', roles_lack_path, method: :post, :onClick => 'alert("포인트가 부족합니다! 강의평가로 포인트를 획득하세요!")' %>
            <% else %>
              강의평가를 열람해보세요!
            <% end %>
          </div>
          <div class="rolebutton">
            위키열람
            <% if !(current_user.has_role? 'wikier') && current_user.point >= 1000 %>
                <%= button_to '오픈하기', roles_wikier_path, method: :post, :onClick => 'alert("1000포인트 차감! 위키열람 권한이 부여되었습니다!")' %>
            <% elsif !(current_user.has_role? 'wikier') && current_user.point < 1000 %>
                <%= button_to '오픈하기', roles_lack_path, method: :post, :onClick => 'alert("포인트가 부족합니다! 강의평가로 포인트를 획득하세요!")' %>
            <% else %>
                강의평가를 열람해보세요!
            <% end %>
          </div>
          <%= current_user.nickname %>
          <a href="/evaluations/new">평가하기</a>
          <a href="/mypages/index">마이페이지</a>
          <%= link_to "로그아웃", logout_path, method: :delete %>
      <% else %>
          <%= link_to "로그인", login_path %>
      <% end %>
    </header>
    <% end %>

    <%= yield %>

    <% unless current_user.nil? %>
    <footer>
      <a href="#">ClassLion</a>
      <%= button_to '권한삭제', roles_remove_path, method: :post %>
      <%= button_to '포인트초기화', roles_reset_path, method: :post %>
    </footer>
    <% end %>
  </body>
</html>